.odds td {
    border: 3px solid black;
    margin: 5px;
}

.mat-header-cell {
    font-size: 25px;
}

.mat-cell {
    font-size: 25px;
    text-align: left;
}

.plot td {
    border: 3px solid black;
    margin: 1px;
    padding: 1px;
    width: 45px;
    height: 45px;
}

.result td {
    border: 3px solid black;
    margin: 0px;
    width: 40px;
}

td {
    margin: 5px;
    /* padding: 5px; */
}

button {
    height: 50px;
    width: 100px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    /* Remove cell spacing */
}

.outer-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 20%;
    /* background: #ccc; */
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered-content {
    display: inline-block;
    /* background: #fff; */
    /* padding: 20px; */
    /*border: 1px solid #000 */
}

.oddsheader td {
    width: 750px !important;
    color: white;
}

.odds {
    font-size: 110px;

}

.odds td {
    border-color: white !important;
}

.circlered {
    background: red;
}

.circlegray {
    background: gray;
}

.circleblue {
    background: rgb(15, 15, 131);

}

.circlegreen {
    background: green;
}

.circle td div {
    width: 44px;
    height: 40px;
    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    color: white;
    text-align: center;
    font-size: 35px;
    vertical-align: auto;
}

.bc {
    color: white;
    font-size: 60px;
    padding: 5px;
    width: 350px;
}

.bcggreen {
    background: green;
}

.bcgred {
    background: red;
}

.bcggray {
    background: gray;
}

.bcgblue {
    background: rgb(15, 15, 131);
}

.wbcggreen {
    background: rgba(6, 70, 6, 0.935);
}

.wbcgred {
    background: rgba(142, 13, 13, 0.849);
}

.wbcggray {
    background: rgba(61, 59, 59, 0.883);
}

.wbcgblue {
    background: rgba(2, 2, 49, 0.878);
}