<div style="margin-left: 5px;">
  <span style="font-size: 50px; font-weight: bold;">OCBS Platform</span><br />
  <span style="font-size: 30px; font-weight: bold;">Betting Report Receipt</span>
  <br /><br />
  <span style="font-size: 30px;"><b>EventID: </b>{{eventId}}</span>
  <br />
  <span style="font-size: 30px;"><b>Fight #: </b>{{fightNo}}</span>
  <br />
  <span style="font-size: 30px;"><b>Meron: </b>{{meron|number}}</span>
  <br />
  <span style="font-size: 30px;"><b>Wala: </b>{{wala|number}}</span>
  <br />
  <span style="font-size: 30px;"><b>Total Amount: </b>{{totalAmount|number}}</span>
  <br />
  <span style="font-size: 30px;"><b>Commission: </b>{{commission|number}}</span>
  <br />
  <span style="font-size: 30px;"><b>Payout Odds: </b>{{odds|number}}</span>
  <br />
  <span style="font-size: 30px;"><b>Status: </b>{{status}}</span>
  <br />
  <span style="font-size: 30px;"><b>Winner: </b>{{declare}}</span>
  <br />
  <br />
  <button (click)="onPrintInvoice()" style="font-size: 30px; font-weight: bold;">Confirmed</button>
  <br />
  <br />
  <hr />
</div>