<div style="margin-left: 5px;">
  <span style="font-size: 18px; font-weight: bold;">OCBS Platform</span><br />
  <span style="font-size: 15px; font-weight: bold;">Betting Report Receipt</span>
  <br /><br />
  <span style="font-size: 15px;"><b>EventID : </b>{{eventId}}</span>
  <br />
  <span style="font-size: 15px;"><b>Fight #: </b>{{fightNo}}</span>
  <br />
  <span style="font-size: 15px;"><b>Total Amount: </b>{{totalAmount|number}}</span>
  <br />
  <span style="font-size: 15px;"><b>Commission: </b>{{commission|number}}</span>
  <br />
  <span style="font-size: 15px;"><b>Payout Odds: </b>{{odds|number}}</span>
  <br />
  <span style="font-size: 15px;"><b>Status: </b>{{status}}</span>
  <br />
  <span style="font-size: 15px;"><b>Winner: </b>{{declare}}</span>
  <br />
  <br />
  <button (click)="onPrintInvoice()" style="font-size: 15px; font-weight: bold;">Confirmed</button>
</div>