.container {
  font-size: 13px;
  font-weight: bold;
}

.navbar {
  padding: 0px;
}

.navbar#main a:hover, .navbar#main li.active a {
    background-color:lightblue;
 }

/*.navbar#main a {
    margin-bottom: 10px;
    background: #000;
    display: block;
    height: 15px;
    width: 15px;
    overflow: hidden;
  }*/
