<?xml version="1.0"?>
<configuration>

  <configSections>
    <!--
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
-->
    <!--<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

  </configSections>
 
  <!--
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>
-->
	
  <connectionStrings>
    <add name="LoanBackofficeConnectionString" connectionString="Data Source=NSERVTEST\MSSQL2008;Initial Catalog=LoanWare;Persist Security Info=True;User ID=sa;Password=fred"
      providerName="System.Data.SqlClient" />
    <add name="LoanServDevelopment" connectionString="Data Source=WEB0201.sintex.com.au\MSSSQL2012;Initial Catalog=Loanware_test;Persist Security Info=True;User ID=sa;Password=eKY6CtaHFATuf4zVGxCm"
      providerName="System.Data.SqlClient" />
    <add name="MavcDevelopment" connectionString="Data Source=speedwell.arvixe.com;Initial Catalog=pigeonclocking_web;Persist Security Info=True;User ID=pigeon;Password=06242009" providerName="System.Data.SqlClient" />
    <add name="LoanServDevPC" connectionString="Data Source=(local);Initial Catalog=Loanware;Persist Security Info=True;User ID=sa;Password=fred"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="LoanServ" />
</configuration>
