<h6 mat-dialog-title>{{title}}</h6>
<mat-dialog-content [formGroup]="form">
  <div class="flex-container" style="width:250px;" fxLayout="column" fxLayoutGap="2px" *ngIf = "isMobileList">
    <mat-form-field>
      <input type="text" matInput
             placeholder="Username/Email Address"
             formControlName="EmailAddress">
    </mat-form-field>
  </div>
  <div class="flex-container" style="width:250px;" fxLayout="column" fxLayoutGap="2px" *ngIf="isSubmit">
    <mat-form-field>
      <input type="text" matInput
             [matAutocomplete]="automobile"
             placeholder="Select Mobile No."
             formControlName="MobileNumber">
      <mat-autocomplete #automobile="matAutocomplete">
        <mat-option *ngFor="let item of mobilelist" [value]="item.MobileNumber">
          {{item.MobileNumber}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</mat-dialog-content>
<br />
<mat-dialog-actions>
  <div class="flex-container" fxLayout="row" fxLayoutGap="2px">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" *ngIf = "isMobileList" (click)="forgotPassword('getmobilelist')">NEXT</button>
    <button class="mat-raised-button mat-primary" *ngIf="isSubmit" (click)="forgotPassword('submit')">SUBMIT</button>
  </div>
</mat-dialog-actions>
