
<div style="background-color: black; color:white; padding-left:10px">
  <h1>Hello, Kalapatids!</h1>
  <h6>
    Welcome to BULACAN-PAMPANGA CLOCKING SYSTEM powered by MAVC Clocking System...
  </h6>
  <span>Batanes Race 2018</span><br />
  <youtube-player videoId="HrjrRmkImCs"
                  suggestedQuality="highres"
                  [height]="250"
                  [width]="width"
                  [startSeconds]="1"
                  [postMessage]="">
  </youtube-player>
  <div style="font-size: small">
    <p>
      We offers an sms and electronic clocking which can use on pigeon racing in the Philippines.
      Our service is aims to give best effort to help all the pigeon club organization
      here in the Philippines to give the fair and honest race result. As of now we are
      the cheapest cost compare in other clocking system in our country, and yet we are
      giving a good service in our client.
    </p>
    <p>
      As we progress we already develop a web clocking which can be use of those player
      with internet connection at home.And the latest product which is the Electronic
      Clocking. E-Clock is aim to help those player which not able to monitor the training
      on their pigeon and the most important is to secure the race result of our pigeon
      during race.
    </p>
    <p>
      As a clocking provider we will never stop to develop a new way on how we will improve
      our system on pigeon racing. Currently we are aiming to develop a program which
      can be run in our mobile phone. Once the application is finished we will rollout
      the product to help our pigeon fancier to secure the race result of our pigeon.
      As we all know sms clocking is non-stable clocking since we are using wireless technology
      which affected by different factor like Telecom maintenance, SMS network traffic
      and Weather Condition.
    </p>
  </div>
</div>
