
<form [formGroup]="form">
  <div class="form-group" style="font-size: 13px; background-color: white; padding:10px">
    <p style="text-align:center; font-weight:bold; font-size:20px">Member Logs</p>
    <div class="flex-container mat-divider-bottom-space" fxLayout="column" fxLayoutGap="2px">
      <mat-form-field>
        <input type="text" matInput formControlName="ClubFullName" [matAutocomplete]="autowos" placeholder="Club Name" (input)="seachClub($event.target.value)">
        <mat-autocomplete #autowos="matAutocomplete">
          <mat-option *ngFor="let item of clubList" (click)="OptionChange(item)" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="MobileNumber" [matAutocomplete]="autowos1" placeholder="Registered Mobile">
        <mat-autocomplete #autowos1="matAutocomplete">
          <mat-option *ngFor="let item of mobileList" [value]="item.MobileNumber">
            {{item.MobileNumber}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="Keyword" placeholder="Keyword">
        <!--<mat-autocomplete #autowos1="matAutocomplete">
          <mat-option *ngFor="let item of mobileList" [value]="item.MobileNumber">
            {{item.MobileNumber}}
          </mat-option>
        </mat-autocomplete>-->
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 200px">
        <mat-label>From :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="From">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker style="width: 100px"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 200px">
        <mat-label>To :</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="To">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2 style="width: 100px"></mat-datepicker>
      </mat-form-field>
      <div class="flex-container" fxLayout="row" fxLayoutGap="10px">
        <button class="mat-raised-button mat-primary" (click)="GetLogs()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          View Logs
        </button>
      </div>
    </div>
    <hr />
    <div *ngIf="dataSource">
      <div fxLayoutAlign="space-between" fxLayout="row">
        <div fxFlex="100%" class="mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Reciever">
              <mat-header-cell *matHeaderCellDef>Source</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Reciever}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Details">
              <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="flex-container" fxLayout="column" fxLayoutGap="2px">
                  <span><b>Mobile #:</b> {{element.Sender}}</span>
                  <span><b>Format:</b> {{element.SMSContent}}</span>
                  <span><b>Date:</b> {{element.SMSDate}}</span>
                  <span><b>Time:</b> {{element.SMSTime}}</span>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ReplyMessage">
              <mat-header-cell *matHeaderCellDef>ReplyMessage</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ReplyMessage}} KM </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div *ngIf="length < 1" style="background-color:white; padding-left:20px; padding-top:20px; font-weight:bold;"><span>No record(s) found.</span> </div>
          <mat-paginator #paginator
                         [length]="length"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         [showFirstLastButtons]="true"
                         (page)="getNext($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</form>
