<p>pedigree works!</p>
<form [formGroup]="form">
  <div class="form-group">
    <div class="flex-container mat-divider-bottom-space rounded-lg shawdow" style="text-align:center; padding-left:20px" fxLayout="column" fxLayoutGap="2px">
      <br />
      <p style="text-align:center; font-weight:bold">Pigeon Management</p>
      <br />
      <mat-form-field style="width:280px;">
        <input type="text" matInput
               placeholder="Band Number"
               formControlName="BandNumber">
      </mat-form-field>
    </div>
  </div>
</form>
