<form [formGroup]="myform">
  <div class="form-group">
    <div style="text-align: center; margin-top: 10px; padding-top: 10px;">
      <h2>Betting History</h2>
    </div>
    <div style="margin-left: 15px;">
      <mat-form-field style="width:280px;">
        <mat-label>Teller</mat-label>
        <mat-select formControlName="Teller" (selectionChange)="searchteller($event.value)">
          <mat-option *ngFor="let item of tellerlist" [value]="item.UserName">
            {{item.FirstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="text-align: center;">
      <button (click)="back()"
        style="background-color: rgb(32, 9, 134); margin-top: 10px; color: white; width: 200px; height: 35px !important;">BACK</button>
    </div>
    <br />
    <div>
      <table mat-table [dataSource]="bettinglist" class="mat-elevation-z8">
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="referenceid">
          <th mat-header-cell *matHeaderCellDef> Barcode</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!isVip">
              <img style=" cursor: pointer; height: 25px; width:40px" src="assets/image/printer.png" alt="print"
                (click)="onRePrint(element.BetType,element.ReferenceId,element.Amount)" />
            </div>
          </td>
        </ng-container> -->
        <ng-container matColumnDef="referenceid">
          <th mat-header-cell *matHeaderCellDef> Barcode</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Status == 'Cancelled'" style="color: red;">{{element.ReferenceId}}</span>
            <span *ngIf="element.Payout != '0.00'"
              style="color: blue; font-weight: bold;">{{element.ReferenceId}}</span>
            <span *ngIf="element.Status != 'Cancelled' && element.Payout == '0.00'">{{element.ReferenceId}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="fightno">
          <th mat-header-cell *matHeaderCellDef> Fight</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Status == 'Cancelled'" style="color: red;">{{element.FightNo}}</span>
            <span *ngIf="element.Payout != '0.00'" style="color: blue; font-weight: bold;">{{element.FightNo}}</span>
            <span *ngIf="element.Status != 'Cancelled' && element.Payout == '0.00'">{{element.FightNo}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Status == 'Cancelled'" style="color: red;">{{element.BetAmount|number :
              '1.2-2'}}</span>
            <span *ngIf="element.Payout != '0.00'" style="color: blue; font-weight: bold;">{{element.BetAmount|number :
              '1.2-2'}}</span>
            <span *ngIf="element.Status != 'Cancelled'  && element.Payout == '0.00'">{{element.BetAmount|number :
              '1.2-2'}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="payout">
          <th mat-header-cell *matHeaderCellDef> Payout</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Status == 'Cancelled'" style="color: red;">{{element.Status}}</span>
            <span *ngIf="element.Payout != '0.00'" style="color: blue; font-weight: bold;">{{element.Payout}}</span>
            <span *ngIf="element.Status != 'Cancelled'  && element.Payout == '0.00'">{{element.Payout|number :
              '1.2-2'}}</span>
          </td>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container>
        <ng-container matColumnDef="teller">
          <th mat-header-cell *matHeaderCellDef> Remarks</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.Status == 'Cancelled'" style="color: red;">{{element.Teller}}</span>
            <span *ngIf="element.Payout != '0.00'" style="color: blue; font-weight: bold;">{{element.Teller}}</span>
            <span *ngIf="element.Status != 'Cancelled' && element.Payout == '0.00'">{{element.Teller}}</span>
          </td>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</form>