/* <RadMenu / Transparent> */

.RadMenu_TransparentMod .rmRootGroup,
.RadMenu_TransparentMod a.rmLink,
.RadMenu_TransparentMod .rmText,
.RadMenu_TransparentMod .rmLeftArrow,
.RadMenu_TransparentMod .rmRightArrow,
.RadMenu_TransparentMod .rmTopArrow,
.RadMenu_TransparentMod .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_TransparentMod .rmRootGroup
{
	/*border: 1px solid #5e5e5e;*/
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: transparent;
}

/* <Root items> */

.RadMenu_TransparentMod,
.RadMenu_TransparentMod a.rmLink
{
	font: normal 12px/23px Tahoma, Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_TransparentMod a.rmLink,
.RadMenu_TransparentMod .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_TransparentMod a.rmLink:hover,
.RadMenu_TransparentMod a.rmFocused,
.RadMenu_TransparentMod a.rmSelected
{
	color: #000000;
	background-position: 0 -72px;
}

.RadMenu_TransparentMod a.rmLink:hover .rmText,
.RadMenu_TransparentMod a.rmFocused .rmText,
.RadMenu_TransparentMod a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_TransparentMod a.rmExpanded,
.RadMenu_TransparentMod a.rmExpanded:hover
{
	color: #000000;
	background-position: 0 -120px;
}

.RadMenu_TransparentMod a.rmExpanded .rmText,
.RadMenu_TransparentMod a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_TransparentMod a.rmDisabled,
.RadMenu_TransparentMod a.rmDisabled:hover
{
	color: #5e5e5e;
}

.RadMenu_TransparentMod a.rmDisabled:hover,
.RadMenu_TransparentMod a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_TransparentMod .rmGroup,
.RadMenu_TransparentMod .rmMultiColumn,
.RadMenu_TransparentMod .rmGroup .rmVertical
{
	/*border: 1px solid #9099a3;*/
	background: transparent url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_TransparentMod .rmTopFix,
.RadMenu_TransparentMod .rmBottomFix,
.RadMenu_TransparentMod .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_TransparentMod_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	/*background-image: url("Menu/rmVSprite.png");
	background-color: #f5f5f5; 
	background-repeat: repeat-y;
	background-position: -4px 0;*/
}

* html .rmRoundedCorners_Office2007 .rmGroup .rmItem,
* html .rmRoundedCorners_Office2007 ul.rmHorizontal .rmFirst
{
	/*background-image: url("Menu/rmVSprite.png");
	background-color: #f5f5f5; 
	background-repeat: repeat-y;
	background-position: -4px 0;*/
}

.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrap .rmVertical
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Office2007 .rmHorizontal .rmItem,
* html .rmRoundedCorners_Office2007 .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_TransparentMod .rmRoundedCorners .rmGroupColumn
{
	background-color: transparent;
}

.RadMenu_TransparentMod .rmBottomLeft,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_TransparentMod_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_TransparentMod .rmRoundedCorners ul.rmGroup,
.RadMenu_TransparentMod .rmRoundedCorners .rmMultiColumn
{
	/*background-image:  url("Menu/rmRoundedLeft.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer,
* html .rmRoundedCorners_Office2007 .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Office2007 ul.rmGroup
{
	/*background-image:  url("Menu/rmRoundedLeft.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

.RadMenu_TransparentMod .rmTopRight,
.RadMenu_TransparentMod .rmBottomRight
{
	/*background-image:  url("Menu/rmRoundedRight.png");
	background-color: transparent; 
	background-repeat: no-repeat;*/
}

.RadMenu_TransparentMod .rmTopFix,
.RadMenu_TransparentMod .rmBottomFix,
.RadMenu_TransparentMod .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Office2007 .rmGroup .rmFirst
{
	/*border-color: #9099a3;*/
}

.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	/*background: #f5f5f5;*/
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomFix
{
	/*background: #f5f5f5;*/
}

.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	/*background-color: #f5f5f5;*/
	border: 0;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmRightArrow
{
	/*background-color: #f5f5f5;*/
	border: 0;
}

.RadMenu_TransparentMod li.rmTopFix,
.RadMenu_TransparentMod li.rmBottomFix
{
	background-position: -5px 0;
}

.RadMenu_TransparentMod_rtl .rmBottomLeft,
.RadMenu_TransparentMod_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_TransparentMod_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_TransparentMod .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_TransparentMod_Context_rtl ul.rmGroup,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer
{
	/*background-image: url("Menu/rmRoundedLeft_rtl.png");*/
}

.RadMenu_TransparentMod_rtl .rmTopRight,
.RadMenu_TransparentMod_rtl .rmBottomRight
{
	/*background-image: url("Menu/rmRoundedRight_rtl.png");*/
}

.RadMenu_TransparentMod_rtl li.rmTopFix,
.RadMenu_TransparentMod_rtl li.rmBottomFix,
.RadMenu_TransparentMod_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_TransparentMod_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_TransparentMod_Context,
.RadMenu_TransparentMod .rmSlide  {
	background: url('Menu/rmScroll.png');
}
.RadMenu_TransparentMod .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_TransparentMod_rtl .rmGroup,
.RadMenu_TransparentMod_rtl .rmMultiColumn,
.RadMenu_TransparentMod_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_TransparentMod .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_TransparentMod .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_TransparentMod .rmGroup .rmFirst,
.RadMenu_TransparentMod .rmGroup .rmLast,
.RadMenu_TransparentMod .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_TransparentMod_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Office2007 .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_TransparentMod .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_TransparentMod .rmGroup a.rmLink:hover,
.RadMenu_TransparentMod .rmGroup a.rmFocused,
.RadMenu_TransparentMod .rmGroup a.rmSelected,
.RadMenu_TransparentMod .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_TransparentMod .rmGroup a.rmLink:hover .rmText,
.RadMenu_TransparentMod .rmGroup a.rmFocused .rmText,
.RadMenu_TransparentMod .rmGroup a.rmSelected .rmText,
.RadMenu_TransparentMod .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_TransparentMod .rmVertical .rmExpandRight,
.RadMenu_TransparentMod_Context .rmGroup .rmExpandRight,
.RadMenu_TransparentMod .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_TransparentMod .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_TransparentMod .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_TransparentMod .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_TransparentMod .rmVertical a.rmSelected .rmExpandLeft
{
	background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_TransparentMod .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_TransparentMod .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_TransparentMod .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_TransparentMod .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_TransparentMod .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_TransparentMod .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_TransparentMod .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_TransparentMod .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_TransparentMod .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_TransparentMod .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_TransparentMod .rmGroup a.rmExpanded .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_TransparentMod .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_TransparentMod_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_TransparentMod_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_TransparentMod .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_TransparentMod_rtl a.rmLink:hover,
.RadMenu_TransparentMod_rtl a.rmFocused,
.RadMenu_TransparentMod_rtl a.rmSelected
{
	background-position: 100% -96px;
}

.RadMenu_TransparentMod_rtl a.rmLink:hover .rmText,
.RadMenu_TransparentMod_rtl a.rmFocused .rmText,
.RadMenu_TransparentMod_rtl a.rmSelected .rmText
{
	background-position: 0 -72px;
}

.RadMenu_TransparentMod_rtl a.rmExpanded,
.RadMenu_TransparentMod_rtl a.rmExpanded:hover
{
	background-position: 100% -144px;
}

.RadMenu_TransparentMod_rtl a.rmExpanded .rmText,
.RadMenu_TransparentMod_rtl a.rmExpanded:hover .rmText
{
	background-position: 0 -120px;
}

.RadMenu_TransparentMod_rtl .rmGroup a.rmLink:hover,
.RadMenu_TransparentMod_rtl .rmGroup a.rmFocused,
.RadMenu_TransparentMod_rtl .rmGroup a.rmSelected,
.RadMenu_TransparentMod_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_TransparentMod_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_TransparentMod_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_TransparentMod_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_TransparentMod_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_TransparentMod_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_TransparentMod_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_TransparentMod_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_TransparentMod_rtl a.rmSelected .rmExpandLeft,
.RadMenu_TransparentMod_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_TransparentMod_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_TransparentMod_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_TransparentMod_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_TransparentMod_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_TransparentMod_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_TransparentMod_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_TransparentMod_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_TransparentMod_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_TransparentMod .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_TransparentMod .rmVertical .rmSlide,
.RadMenu_TransparentMod .rmSlide .rmSlide,
.RadMenu_TransparentMod_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_TransparentMod_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_TransparentMod_rtl .rmVertical .rmSlide,
.RadMenu_TransparentMod_rtl .rmSlide .rmSlide,
.RadMenu_TransparentMod_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_TransparentMod .rmLeftArrow,
.RadMenu_TransparentMod .rmRightArrow
{
	/*background-color: #f5f5f5;*/
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_TransparentMod .rmLeftArrow,
.RadMenu_TransparentMod .rmRightArrow
{
	/*background-color: #f5f5f5;*/
}

.RadMenu_TransparentMod .rmLeftArrow { background-position: -8px -312px; /*border-right: 1px solid #9099a3;*/ }
.RadMenu_TransparentMod .rmRightArrow { background-position: -482px -216px; /*border-left: 1px solid #9099a3;*/ }

.RadMenu_TransparentMod .rmTopArrow,
.RadMenu_TransparentMod .rmBottomArrow,
.RadMenu_TransparentMod .rmGroup .rmLeftArrow,
.RadMenu_TransparentMod .rmGroup .rmRightArrow
{
	/*background-color: #f5f5f5;*/
}

.RadMenu_TransparentMod .rmTopArrow { background-position: 50% -367px; /*border-bottom: 1px solid #9099a3;*/ }
.RadMenu_TransparentMod .rmBottomArrow { background-position: 50% -391px; /*border-top: 1px solid #9099a3;*/ }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_TransparentMod .rmVertical .rmSeparator .rmText,
.RadMenu_TransparentMod .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_TransparentMod .rmHorizontal .rmSeparator .rmText,
.RadMenu_TransparentMod .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */


 DIV.RadMenu_TransparentMod {

	BACKGROUND-COLOR: #000066;

}

 DIV.RadMenu_TransparentMod .rmItem .rmLink {

	BACKGROUND-COLOR: #003366;

	COLOR: #FFFFFF;

}

 DIV.RadMenu_TransparentMod .rmItem .rmDisabled {

	COLOR: #777777;

}

 DIV.RadMenu_TransparentMod .rmGroup .rmItem .rmDisabled {

	COLOR: #777777;

}

