<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img style="width:50px;height:40px;" src="../../../assets/img/logo.jpg" /><span style="font-size:15px;">Bulacan-Pampanga Clocking</span></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tutorials']">Tutorials/Videos</a>
          </li>
          <li *ngIf="!(isLoggedIn$ | async) as isLogin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="(isLoggedIn$ | async) as isLogin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/logout']">Logout</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-danger" *ngIf="(user$ | async) as User">{{User.firstName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
</header>
