<div style="background-color:white; padding:10px">
  <span>Guide how to use new mavc website.</span>
  <br />
  <youtube-player videoId="99FlRmmu_ZM"
                  suggestedQuality="highres"
                  [height]="250"
                  [width]="width"
                  [startSeconds]="0"
                  [postMessage]="">
  </youtube-player>
  <br />
  <br />
  <span>Batanes Race 2018</span>
  <br />
  <youtube-player videoId="HrjrRmkImCs"
                  suggestedQuality="highres"
                  [height]="250"
                  [width]="width"
                  [startSeconds]="0"
                  [postMessage]="">
  </youtube-player>
  <br />
  <br />
  <span>Guide how to use Mavc Pigeon Management</span>
  <br />
  <youtube-player videoId="dKXjC2595xM"
                  suggestedQuality="highres"
                  [height]="250"
                  [width]="width"
                  [startSeconds]="0"
                  [postMessage]="">
  </youtube-player>
  <br />
  <br />
</div>

