<form [formGroup]="form">
  <div class="form-group" style="font-size:13px">
    <div class="flex-container mat-divider-bottom-space" fxLayout="column" fxLayoutGap="2px">
      <mat-form-field class="example-full-width" style="width: 200px">
        <mat-label>Training Date :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="LiberationDate">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker style="width: 100px"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select Club:</mat-label>
        <mat-select formControlName="ClubFullName" (selectionChange)="seachClub($event)">
          <mat-option *ngFor="let item of clubList" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 300px">
        <input type="text" matInput formControlName="Liberation" [matAutocomplete]="autowos" placeholder="Liberation">
        <mat-autocomplete #autowos="matAutocomplete">
          <mat-option *ngFor="let item of raceLocationCollection" [value]="item.LocationName">
            {{item.LocationName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span style="color: blue; font-weight: bolder;">Liberation Coordinates</span>
      <span>Latitude</span>
      <div class="flex-container mat-divider-bottom-space" fxLayout="row" fxLayoutGap="2px">
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LatDeg" placeholder="DEG">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LatMin" placeholder="MIN">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LatSec" placeholder="SEC">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LatSign" placeholder="SIGN">
        </mat-form-field>
      </div>
      <span>Longtitude</span>
      <div class="flex-container mat-divider-bottom-space" fxLayout="row" fxLayoutGap="2px">
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LongDeg" placeholder="DEG">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LongMin" placeholder="MIN">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LongSec" placeholder="SEC">
        </mat-form-field>
        <mat-form-field style="width:50px;">
          <input type="text" matInput formControlName="LongSign" placeholder="SIGN">
        </mat-form-field>
      </div>
      <mat-form-field style="width:200px;">
        <input type="text" matInput formControlName="ReleaseTime" placeholder="Release Time">
      </mat-form-field>
      <div class="flex-container" fxLayout="row" fxLayoutGap="10px">
        <button class="mat-raised-button mat-primary" (click)="SaveTraining()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          SAVE TRAINING
        </button>
      </div>
    </div>
    <hr />
    <div class="flex-container" fxLayout="column" fxLayoutGap="2px">
      <h6>Training Result(s)</h6>
      <br *ngIf="!isMobile" />
      <mat-radio-group *ngIf="isMobile" aria-label="Select an option" (change)="changeView($event)"
        formControlName="mobileView">
        <mat-radio-button style="padding-top:10px" value="2">Summary View</mat-radio-button>
        <mat-radio-button style="padding-left:20px; padding-top:10px" value="1">Details View</mat-radio-button>
      </mat-radio-group>
      <button class="mat-raised-button mat-primary" style="width:200px;" (click)="ViewResult()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        VIEW TRAINING RESULT
      </button>
      <br />
      <div *ngIf="dataSource">
        <div fxLayoutAlign="space-between" fxLayout="row">
          <div fxFlex="100%" class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" class="mobile" *ngIf="isMobile && isMobileDetails">
              <ng-container matColumnDef="Rank">
                <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element.Rank}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Details">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div class="flex-container" fxLayout="column" fxLayoutGap="2px">
                    <span style="font-weight:bold;">{{element.MemberName}}</span>
                    <span>Band Number: {{element.RingNumber}}</span>
                    <span>Distance (KM): {{element.Distance}}</span>
                    <span>BackTime: {{element.BackTime}}</span>
                    <span>Flight: {{element.Flight}}</span>
                    <span>Speed: {{element.Speed | number:'1.2-3'}}</span>
                  </div>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsMobile"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></mat-row>
            </mat-table>
            <mat-table #table [dataSource]="dataSource" class="mobilesummary" matSort
              *ngIf="isMobileSummary && isMobile">
              <ng-container matColumnDef="RankMobile">
                <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.Rank}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="RingNumberMobile">
                <mat-header-cell *matHeaderCellDef>Ring #</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.RingNumber}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="BacktimeMobile">
                <mat-header-cell *matHeaderCellDef>Backtime</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.BackTime}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="SpeedMobile">
                <mat-header-cell *matHeaderCellDef>Speed</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.Speed | number:'1.2-3'}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsMobileSummary"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMobileSummary;"></mat-row>
            </mat-table>
            <mat-table #table [dataSource]="dataSource" matSort *ngIf="scrWidth > 1008">
              <ng-container matColumnDef="Rank">
                <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Rank}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="RingNumber">
                <mat-header-cell *matHeaderCellDef>Ring Number</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.RingNumber}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Distance">
                <mat-header-cell *matHeaderCellDef>Distance (KM)</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Distance}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Backtime">
                <mat-header-cell *matHeaderCellDef>Arrival</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.BackTime}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Flight">
                <mat-header-cell *matHeaderCellDef>Flight</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Flight}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Speed">
                <mat-header-cell *matHeaderCellDef>Speed (MPM)</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Speed | number:'1.2-3'}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div *ngIf="length < 1"
              style="background-color:white; padding-left:20px; padding-top:20px; font-weight:bold;"><span>No bird(s)
                has been arrived.</span> </div>
            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="getNext($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
