<span style="font-size: 18px; font-weight: bold;">PCC - OCBS Platform</span><br />
<span style="font-size: 15px; font-weight: bold;">Odds Receipt</span>
<br /><br />
<span style="font-size: 15px;" ><b>Fight #: </b>{{fightNo}}</span>
<br />
<span style="font-size: 15px;" ><b>Meron Odds: </b>{{meronodds}}</span>
<br />
<span style="font-size: 15px;" ><b>Wala Odds: </b>{{walaodds}}</span>
<br />
<br />
<span style="font-size: 12px; font-weight: bold;">Teller: {{teller}}</span>
<br />
<button (click)="onPrintInvoice()" style="font-size: 15px; font-weight: bold;">Confirmed</button>
