<div class="form-group" style="font-size:13px">
  <div class="flex-container" fxLayout="column">
    <div class="flex-container" fxLayout="column"
      style="font-weight: bold; width: 350px; border-style: solid; box-shadow: 0px 0px 10.5px rgba(0, 0, 0, 0.3)">

      <div style="padding: 10px; font-size: 15px; background-color:white">
        <p style="font-weight:bold; font-size:20px ">BIRD CLOCKING DETAILS</p>
        <span>NAME: {{name}}</span><br />
        <span>CLUB NAME: {{clubname}}</span><br />
        <span>LIBERATION SITE: {{liberation}}</span><br />
        <span>BIRD COUNT: {{birdcount}}</span><br />
        <span>RING NUMBER: {{ringnumber}}</span><br />
        <span>CODE: {{code}}</span><br />
        <span>TIME ARRIVAL: {{timearrival}}</span><br />
        <span>FIGHT: {{fight}}</span><br />
        <span>SPEED: {{speed}}</span><br />
        <span>{{remarks}}</span><br />
      </div>
    </div>
  </div>
</div>