<form [formGroup]="myform">
  <div class="form-group">
    <div style="text-align: center; margin-top: 10px; padding-top: 10px;">
      <h2>Unclaimed Tickets</h2>
    </div>
    <div style="margin-left: 15px;">
      <mat-form-field style="width:280px;">
        <mat-label>Teller</mat-label>
        <mat-select formControlName="Teller" (selectionChange)="searchteller($event.value)">
          <mat-option *ngFor="let item of tellerlist" [value]="item.UserName">
            {{item.FirstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    <div>
      <table mat-table [dataSource]="unclaimedlist" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="referenceid">
          <th mat-header-cell *matHeaderCellDef> Barcode</th>
          <td mat-cell *matCellDef="let element"> {{element.ReferenceId}} </td>
        </ng-container>
        <ng-container matColumnDef="fightno">
          <th mat-header-cell *matHeaderCellDef> Fight No.</th>
          <td mat-cell *matCellDef="let element"> {{element.FightNo}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element"> {{element.BetAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="teller">
          <th mat-header-cell *matHeaderCellDef> Teller</th>
          <td mat-cell *matCellDef="let element"> {{element.Teller}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div style="text-align: center;">
      <button (click)="back()"
        style="background-color: rgb(32, 9, 134); margin-top: 10px; color: white; width: 200px; height: 35px !important;">BACK</button>
    </div>
  </div>
</form>