<div style="margin-left: 5px;" id="pdfTable" #pdfTable>
    <span style="font-size: 50px; font-weight: bold;">OCBS Platform</span><br />
    <span style="font-size: 30px; font-weight: bold;">Betting Receipt</span><br /><br />
    <span style="font-size: 30px; font-weight: bold;">
        {{eventname}}
    </span>
    <br />
    <br />
    <div style="font-size: 30; text-align: center;">
        <ngx-barcode [bc-value]="barcodeValue" bc-font-size="30" [bc-display-value]="true" [bc-width]="4"
            [bc-height]="95"></ngx-barcode>
    </div>
    <br />
    <span style="font-size: 30px;"><b>Fight #: </b>{{fightNo}}</span>
    <br />
    <span style="font-size: 30px;"><b>Bet Amount: </b>{{betAmount|number}}</span>
    <br />
    <br />
    <span style="font-size: 30px; font-weight: bold;">Teller: {{teller}}</span><br />
    <button (click)="onPrintInvoice()" style="font-size: 30px; font-weight: bold;">{{betType}}</button>
    <!-- <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button> -->
    <br />
    <br />

</div>