<div style="margin-left: 5px; width: 200px;">
    <span style="font-size: 18px; font-weight: bold;">OCBS Platform</span><br />
    <span style="font-size: 15px; font-weight: bold;">Betting Receipt</span><br /><br />
    <span style="font-size: 18px; font-weight: bold;">
        {{eventname}}
    </span>
    <br />
    <br />
    <ngx-barcode [bc-value]="barcodeValue" [bc-display-value]="true" [bc-height]="30"></ngx-barcode>
    <br />
    <span style="font-size: 15px;"><b>Fight #: </b>{{fightNo}}</span>
    <br />
    <span style="font-size: 15px;"><b>Bet Amount: </b>{{betAmount|number}}</span>
    <br />
    <br />
    <span style="font-size: 12px; font-weight: bold;">Teller: {{teller}}</span><br />
    <button (click)="onPrintInvoice()" style="font-size: 15px; font-weight: bold;">{{betType}}</button>
</div>